/* || RESET */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	width: 100%;
}

/* || VARIABLES */
:root {
	/* Colors */
	--BG__COLOR: #f2f2fe;
	--FB__COLOR: #1976d3;
	--INSTA__COLOR: #e1306c;
	--YT__COLOR: #f44236;
	--X__COLOR: #000;
	--ICON__COLOR: #fff;
}

/* || UTILITY CLASSES */
.container {
	height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	/* background-color: #f2f2fe; */
	background-color: var(--BG__COLOR);
}

/* icons logo */
.icons a {
	display: inline-flex;
	/* width: 100px; */
	width: 6rem;
	/* height: 100px; */
	height: 6rem;
	align-items: center;
	justify-content: center;

	text-decoration: none;
	/* font-size: 50px; */
	font-size: 3rem;
	border-radius: 30px;
	/* margin: 10px; */
	margin: 0.6rem;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);

	background-size: 100% 200%; /* x and y */
	background-position: 0% 3%; /* x and y */
	transition: background-position 0.5s, color 0.5s;

	transition: all 0.5s;
}

.icons a:nth-child(1) {
	color: var(--FB__COLOR);
	background-image: linear-gradient(var(--ICON__COLOR) 50%, #1976d3 50%);
}

.icons a:nth-child(2) {
	color: var(--INSTA__COLOR);
	background-image: linear-gradient(
		var(--ICON__COLOR) 50%,
		#5851db 10%,
		#833ab4 10%,
		#c13584 10%,
		#e1306c,
		#fd1d1d
	);
}

.icons a:nth-child(3) {
	color: var(--YT__COLOR);
	background-image: linear-gradient(var(--ICON__COLOR) 50%, #f44236 50%);
}

.icons a:last-child {
	color: var(--X__COLOR);
	background-image: linear-gradient(var(--ICON__COLOR) 50%, #000 50%);
}

.icons a:hover {
	background-position: 0% 100%;
	color: #fff;
}

/* MOBILE DEVICES */
/* Responsive Styles */
@media screen and (max-width: 600px) {
	.icons {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
	}
}

/* DARK MODE */
@media (prefers-color-scheme: dark) {
	:root {
		--BG__COLOR: #181a1b;
		--ICON__COLOR: #262a2b;
	}
}
